#tabsContainer {
  display: flex;
  margin-left: 6rem;
  width: 20rem;
}

#tabsContainer div {
  width: 18rem;
  border: 1px solid gray;
  padding: 0.6rem;
  text-align: center;
}

#tabsContainer div:hover {
  background-color: #3498db;
  cursor: pointer;
  color: white;
}

#contentContainer {
  display: flex;
  margin-left: 6rem;
  margin-top: 2rem;
  width: 80%;
}

#accComponent button {
  text-align: left;
  width: 100%;
}

.accordion-container {
  width: 100%;
}

.accComponent {
  margin-bottom: 10px;
}

.accComponent p {
  width: 80%;
  font-size: medium;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

/* Add these styles to your stylesheet */

.tabs-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#tabsContainer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

#tabsContainer div {
  cursor: pointer;
  padding: 10px;
  margin-right: 0.4rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#contentContainer {
  margin-top: 20px;
}
